*{
  
    margin-left: 0;
    margin-right: 0;
}
body{
    background-color:azure;
}
html{
    scroll-behavior: smooth;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
    position: relative;
}
#logo{
    display: flex;
    margin: 10px;
    padding: 5px;
}
#nav-links{
    display: flex;
    margin: 10px;
    padding:5 px ;
}
.a1{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color:hotpink;
    margin-left: 5px;
    margin-right: 5px;

}
.a1:hover{
    color: black;
}
#main{
    background-image: url(https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}
.p{
    margin-top: 25px;
    display: inline;
    height: 50vh;
}
.a2{
    font-family: 'Quicksand', sans-serif;
    color:aliceblue;
    font-size: 25px;
    margin-left: 25px;
    padding-left: 25px;
}
.p1{
    font-family: 'Quicksand', sans-serif;
    color:aliceblue;
    font-size: 25px;
    margin-left: 25px;
    padding-left: 25px;
}
.btn{
    font-family: 'Quicksand', sans-serif;
    color:aliceblue;
    background-color: black;
    font-size: 25px;
    margin:10px;
    padding:10px;
    border: hotpink;
    border-radius:5px;
    border-color: white;
}
.btn:hover{
    color: hotpink;
}
.contact1
{
    display: inline;
    align-items: center;
}
.a3{
    font-family: 'Quicksand', sans-serif;
    color:black;
    font-size: 25px;
    margin-left: 25px;
    padding-left: 25px;
}
.links{
    font-family: 'Quicksand', sans-serif;
    color:black;
    margin-left: 25px;
    padding-left: 25px;

}
.btn-links{
    margin-left: 4px;
    margin-right: 4px;
}
.links1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.top{
    display:flex;
    flex-wrap: wrap;
    margin-left: 25px;
    padding-left: 25px;

}
.img1{
    height: fit-content;
    width: 500px;
    padding: 25px;
    padding-top: 15%;
    margin: 5px;
    align-items: center;
  
}
.p2{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;

    padding-top: 15%;
    padding-bottom: 25%;
}